<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeadRisingArcTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DeadRisingArcTool.Properties.Settings>
            <setting name="ArcFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="LoadPatchFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PatchFileDirectory" serializeAs="String">
                <value>K:\_SteamLibrary\steamapps\common\Dead Rising\nativeWin64\Mods</value>
            </setting>
            <setting name="OverwriteAllDuplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateFlavor" serializeAs="String">
                <value>Beta</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </DeadRisingArcTool.Properties.Settings>
    </userSettings>
    <appSettings>
        <add key="EnableOptimizedDesignerReloading" value="false"/>
    </appSettings>
</configuration>
